@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light+Two&display=swap');

:root {
    --green: #8FDA25;
    --blue: #258FDA;
}

body {
  background-color: #000;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Shadows Into Light Two', cursive;
}

#frame {
  padding: 50px 130px;
  border: 5px solid var(--blue);
  border-radius: 25px;
  color: #fff;
  animation: frame 3s linear infinite;
  transform: skewX(-6deg);
}

#text {
  text-align: center;
  font-weight: 700;
  font-size: 140px;
  color: #d2f0a8;
  animation: text 3s linear infinite;
}

@keyframes text {
  0%, 21.5%, 22%, 23.5%, 24%, 66.5%, 67%, 84.5%, 85%, 100% {
    text-shadow: 0 0 30px var(--green);
  }
  21.8%, 23.8%, 66.8%, 84.8% {
    text-shadow: none;
  }
}

@keyframes frame {
  0%, 21.5%, 22%, 23.5%, 24%, 66.5%, 67%, 84.5%, 85%, 100% {
    box-shadow: 0 0 30px var(--blue), 0 0 50px var(--blue) inset;
  }
  21.8%, 23.8%, 66.8%, 84.8% {
    box-shadow: none;
  }
}
